@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    font-family: 'Spartan', sans-serif;
    background: url(images/bg-pattern-top-desktop.svg) top left no-repeat, url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
}


.top {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.top-left {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    margin-left: 100px;
}

.top-left .title {
    color: hsl(300, 43%, 22%);
    font-size: 52px;
    margin: 5px;
    margin-left: 160px;
    margin-right: 160px;
}

.top-left .description {
    color: grey;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    margin-left: 160px;
    margin-right: 180px;
}

.top-right {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
}

.ratings {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin: 20px;
    padding: 17px;
    border-radius: 10px;
    width: 510px;
}

.ratings .stars {
    margin: 5px;
    margin-right: 25px;
    margin-left: 25px;
}

.ratings .stars .star {
    width: 20px;
}

.ratings .text {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 5px;
}

.rating-2 {
    margin-left: 70px;
}

.rating-3 {
    margin-left: 120px;
}

.bottom {
    height: 50vh;
    display: flex;
    padding: 25px;
    justify-content: center;
}

.bottom .test {
    background-color: hsl(300, 43%, 22%);
    padding: 42px;
    height: 286px;
    width: 450px;
    border-radius: 10px;
    /* margin: 25px; */
    margin-left: 42px;
}

.bottom .test .profile-pic {
    height: 50px;
    border-radius: 50px;
    display: inline;
    float: left;
}

.bottom .test .name {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-align: center;
    margin-right: 125px;
}


.bottom .test .status {
    color: hsl(333, 80%, 67%);
    text-align: center;
    margin-right: 125px;
    margin-top: 5px;
}

.bottom .test .testimony {
    color: hsl(300, 24%, 96%);
    margin: 45px 4px 4px 5px;
    line-height: 26px;
    font-size: 16px;
}

.testimonial-2 {
    margin-top: 15px;
}

.testimonial-3 {
    margin-top: 30px;
}
