@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    font-family: 'Spartan', sans-serif;
}


.top {
    background-image: url('/images/bg-pattern-top-desktop.svg');
    background-size: contain;
    /* background-position: center; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.top-left {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.top-left .title {
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    margin: 5px;
    margin-left: 160px;
    margin-right: 160px;
}

.top-left .description {
    color: grey;
    font-weight: 500;
    line-height: 25px;
    margin-left: 160px;
    margin-right: 160px;
}

.top-right {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
}

.ratings {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    width: 500px;
}

.ratings .stars {
    margin: 5px;
}

.ratings .text {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 5px;
}

.rating-2 {
    margin-left: 50px;
}

.rating-3 {
    margin-left: 100px;
}

/* .ratings p:before {
    background-image: url('/images/icon-star.svg');
} */


.bottom {
    background-image: url('/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.bottom .test {
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    height: 350px;
    width: 500px;
    border-radius: 10px;
}

.bottom .test .name {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.bottom .test .status {
    color: hsl(333, 80%, 67%)
}

.bottom .test .testimony {
    color: hsl(300, 24%, 96%);
}